# config/database.yml
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: stringify_music_development
  username: rails
  password: password
  host: localhost

test:
  <<: *default
  database: stringify_music_test
  username: rails
  password: password
  host: localhost

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>